<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.lhn.pojo.Address">
        <property name="address" value="福建"/>
    </bean>
    <bean id="student" class="com.lhn.pojo.Student">
        <!--使用普通注入,value-->
        <property name="name" value="luohaonan"/>
        <!--使用Bean注入,ref-->
        <property name="address" ref="address"/>
        <!--数组注入-->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
            </array>
        </property>
        <!--List注入-->
        <property name="hobbies">
            <list>
                <value>看书</value>
                <value>听歌</value>
                <value>看电影</value>
            </list>
        </property>
        <!--List注入-->
        <property name="card">
            <map>
                <entry key="身份证" value="111111"/>
                <entry key="银行卡" value="222222"/>
                <entry key="学生卡" value="333333"/>
            </map>
        </property>
        <!--List注入-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>COC</value>
                <value>BOB</value>
            </set>
        </property>
        <!--null注入-->
        <property name="wife">
            <null/>
        </property>
        <!--property注入-->
        <property name="info">
            <props>
                <prop key="学号">123456789</prop>
                <prop key="性别">男</prop>
            </props>
        </property>
    </bean>


</beans>